/* the about styles go here */
.page-heading ,
.pure-article,
.colorSetter,
.Our-values
{
    padding: 1.3em;
    margin-bottom: 1em;
}
.about-page h3,.about-page .keyv-alue i{
    color:var(--primary-red)

}
/* .page-heading h2{
    padding: .3em 0em 1rem 0rem;
}
.undeline{

    width: 70%;
    height: 3px;
    background-color: var(--secondary-red);
    margin: .6rem 0 1rem 0;
} */
.page-heading button{
    padding: 1rem;
    /* margin: 1rem 0 1rem 0; */
    background-color: var(--primary-red);
    border-radius: 5px;
    border:none;

}
.page-heading button:hover{
    background-color: var(--primary-blue);
    transition: all 1s ease;
}
.page-heading button a{
    text-decoration: none;
    color:var(--primary-white);
}
.fancylogo-container{
    /* background-color: red; */
    max-width: 100%;
    height: 100%;
    /* border: solid red 3px; */
    /* background-image: url("../Assets/images/fancy-logo-nobg.png"); */

}
.fancylogo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.pure-article{
    text-align: justify;
    padding-top: 0;
}
.graduation-background{
    width: 100%;
    min-height: 90vh;
    background-image: url('../images/graduation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.colorSetter{
    width: 100%;
    min-height: 90vh;
    background-color: rgba(0, 156, 253, 0.582);
}
.pure-text{
    text-align: justify;
    color: var(--primary-white);
    /* background-color: hsla(0, 0%, 30%, 0.484); */
    backdrop-filter: blur(20px);
}
.article-goals{
    color: var(--primary-red);
    padding: 0rem 0 2em  0 ;

}
.article-goals i{
    font-size: 4em;
}
.article-goals h3{
    margin:  0rem 0 1rem  0 ;
    font-size: 2em;

}
.Our-values{
    width: 100vw;
    min-height: 100vh;

}
    .longtext-container{
        border: none;
        
    }
    .meet-our-staff{
        height: 60vh;
        width: 100vw;
    }
/*  ### BREAK POINTS */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



@media screen and (min-width: 768px) {
    .longtext-container{
        /* border: solid 3px blue; */
        max-height:90vh ;
        display: flex;
        overflow-y: hidden;

   
    }
    .pure-article{
        /* border: solid 3px red; */
        display: flex;
        flex-flow: row wrap;
        padding-top: 2em;
    }
       .colorSetter{
        display: flex;
        width: 100vw;
        max-height: 90vh;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 2em;
         justify-content: center;
    }
    .colorSetter{
        padding-top: 2em;
        padding: 4em;
        gap: 2em;
        align-items: flex-start;
    }
    .page-heading,
    .longtext-container 
    .article-container{
        width: 45%;
        height: 100%;
        /* border: 3px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    /* .pure-text{
        border: solid 3px red;
    } */
     .article-goals{
        width: 50%;
        height: 100%;
     }



    
}