/* Registration styles */
/* @import url('../Styles/contact-us-styles.css'); */
.form-container{
    width: 100vw;
    min-height: 100vh;
    padding: 2em;
}
.herolike{
    width: 100%;
    height: 100%;
    /* background-image:url('../images/nurses.jpg') ; */
    object-fit:contain;
    object-position: center;
    /* zoom: 0%; */
    background-repeat: no-repeat;
}
input[type="radio"]{
    width: 20px;

}