@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* ## ROOT STYLES ## */
/* +++++++++++++++++++++++++++++ */

:root {
    --primary-white: hsl(0, 20%, 100%);
    --primary-blue: hsl(201, 100%, 14%);
    --secondary-blue: hsla(203, 39%, 57%, 1);
    --primary-black: hsl(0, 0%, 20%);
    --primary-red: hsla(356, 83%, 41%, 1);
    --secondary-white: hsla(40, 91%, 91%, 1);
    --secondary-red: hsla(356, 83%, 41%, 1);
    --darker-white: hsl(55, 10%, 90%);
}

/* ### RESET  */
/* +=============================================+ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    /*some code to make images display asblock instead of inline ...*/
}


input,
button,
textarea,
label {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/* #### UTILITY SET */
/* +++++++++++++++++++++++++++++++++++++++++++ */
.desktop-only {
    display: none;
}

.text-center {
    text-align: center;
}

/* ###### GENERAL ############ */
html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    width: 100vw;
    overflow-x: hidden;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    /* width:10vw; */
    /* padding: 2em; */
    overflow-x: hidden;
    font-size: 1.2em;
    background-color: var(--primary-white);
}

header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--primary-white);
}

.Header_welcome_message {
    background-color: hsla(201, 100%, 14%, 1);
    height: 100px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.Header_welcome_message div i {
    padding: 0 3px;
}

.Header_welcome_message div:hover {
    border-bottom: 2px solid var(--primary-white);
    padding-bottom: 5px;
    animation: line-up .2s ease 0s 1 normal forwards;
}

.Header_welcome_message a {
    color: #fff;
    text-decoration: none;

}


.Header_main {
    height: 100px;
    border: 2px solid #333;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    font-size: 2em;
    background-color: transparent;
    cursor: pointer;


}

.logo {
    border: 2px solid transparent;
    width: 100px;
    height: 90px;
    background-image: url('../images/IMG-20250506-WA0046.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* position: absolute; */
    transform: translateY(-15%);
}

.logo img {
    /* border: 2px solid red; */
    height: 100px;
    transform: translateY(-18%);


}

.nav {
    display: flex;
    position: relative;
    background-color: var(--primary-white);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    /* padding-bottom: 60px; */

}

.nav-links {
    padding: 0;
    font-size: 1.2rem;
    background-color: var(--primary-blue);
    position: fixed;
    top: 180px;
    left: 0%;
    right: 0px;
    /* width: 300px; */
    padding-left: 10px;

}

.nav-links li {
    list-style: none;
    border-bottom: 1.3px solid var(--primary-white);
    text-align: justify;
    display: none;
    padding: 5px;


}

.nav:hover .nav-links {
    animation: reveal 1s ease 0s 1 normal forwards;
}

.nav-links li a {
    color: var(--primary-white);
    text-decoration: none;
    text-align: left;
    display: block;

}

.nav:hover .nav-links li,
.nav:focus-within .nav-links li {
    display: block;
}




main {
    padding-top: 10.4em;
    color: var(--primary-black);
}

.photo-container {
    /* width: 90vw; */
    /*  */
    height: 80vh;
    background-color: var(--secondary-blue);
    background-image: url('../images/IMG-20250506-WA0048.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: changePicture 40s ease 0s infinite normal forwards;
}

.intro {
    /* width: 10vw; */
    height: 80vh;
    background-color: rgba(0, 156, 253, 0.582);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--primary-white);
}

.intro h1 {
    font-size: 1.1em;
    padding: 0 10px;
    width: 100vw;

}

.intro-break {
    height: 3px;
    background-color: var(--primary-red);
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.moto {
    /* font-family: "Lobster", sans-serif; */
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-black);
    font-size: 1em;
    text-shadow: 0px 0px 2px var(--primary-white);
}

.register-Or-Contact {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 30px;
    padding-top: 5em;
    padding-right: 1em;
}

.register-Or-Contact a {
    text-decoration: none;
    color: var(--primary-white);
}

.register-Or-Contact button {
    padding: .8rem 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.register-Or-Contact button:active {
    box-shadow: inset 0px 0px 1px 2px var(--primary-black);
}

.registerNow {
    background-color: var(--primary-red);
    padding: 1rem;
}

.contactUs {
    background-color: var(--primary-blue);
}

.register-Or-Contact button.contactUs:active {
    box-shadow: inset 0px 0px 1px 2px var(--secondary-white);

}

.current {
    color: var(--primary-red);
    border-color: var(--primary-red);
}

.current a {
    color: var(--primary-red) !important;
}

.quick-links {
    height: 25vh;
    background-color: var(--primary-blue);
}

.quick-abt {
    padding: 2em 1em;
    width: 100vw;
    color: var(--primary-black);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.quick-abt h2 {
    /* max-width: 600px; */
    text-align: center;
    padding: 1.2em 0;
}

.quick-abt p {
    /* max-width: 800px; */
    padding: 0em .6em 0em .6em;
    text-align: justify;
    text-align: center;
    text-justify: distribute;
}

.learn-more {
    margin-top: 10px;
    padding: 1rem 2rem;
    background-color: var(--secondary-red);
    border: none;
    cursor: pointer;
    border-radius: 5px;


}

.learn-more a {
    text-decoration: none;
    color: var(--primary-white);

}
 .quick-abt .learn-more:hover,
 .registerNow:hover,
 .red-background:hover{
    background-color: var(--primary-blue);
    transition: all .2s ease;
    border:2px solid var(--primary-red);
 }
 .contactUs:hover{
    background-color: var(--primary-red);
    transition: all .2s ease;
     border: 2px solid var(--primary-blue);
 }
.keyvalues-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.keyv-alue {
    width: 290px;
    min-height: 200px;
    border: 1.6px solid var(--primary-black);
    margin: 16px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: hsl(0, 20%, 99%);

}

.keyvalues-container-h2 {
    text-align: center;
    padding: 2rem;
}

.icon-container {
    font-size: 4rem;
}

.why-study .keyv-alue .icon-container {
    color: var(--primary-red);
}

.admintion-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding-top: 3em;
    padding-bottom: 2em;

}

.admintion-info button {
    padding: 1rem;
    border-radius: 5px;
}

.admition-info-contents {
    width: 300px;
    height: 500px;
    background-color: var(--secondary-red);
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 1.4em;
    color: var(--primary-white);

}

.admition-info-contents .learn-more {
    background-color: var(--primary-blue);
    min-width: 200px;
}
.admition-info-contents .learn-more:hover{
    background-color: var(--primary-red);
    border: solid 2px var(--primary-blue);
    transition: all .5s ease;

}

.admition-info-contents:nth-child(2) {
    background-color: var(--primary-blue)
}

.admition-info-contents:nth-child(2) .learn-more {
    background-color: var(--secondary-red);
}
.admition-info-contents:nth-child(2) .learn-more:hover{
    background-color: var(--primary-blue);
    border: solid 2px var(--primary-red);
    transition: all .5s ease;
}


.back-to-top {
    width: 40px;
    height: 40px;
    background-color: var(--secondary-red);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    border: solid 2px var(--secondary-white);
    box-shadow: 0px 0px 0px 2px 3px var(--secondary-white);
    z-index: 1000;
}

.back-to-top a {
    color: var(--primary-white);
}

.footer-main {
    width: 100vw;
    /* padding-left: 3em; */
    /* min-height: 1000px;
    max-height: 1000px; */
    background-color: var(--primary-blue);
    clear: both;
    padding: 2em 2em 3em 2em;
    display: grid;
    grid-template-areas: 
    "--footer-outro --footer-outro --footer-outro "
    " --footer-logo --footer-logo  --footer-logo"
    " --call-mail   --call-mail     --call-mail"
    "--quick-links  --quick-links   --quick-links"
    "--partners     --partners      --partners";

    /* place-content: center; */
    /* place-items: center; */
    position: relative;
}
.footer-main * h4{
    padding: 1.2rem  0;
}
    .footer-outro {
        /* max-width: 450px; */
        /* height: 300px; */
        /* border: solid 2px red; */
        grid-area: --footer-outro;
    }


.footerLogo {
    background-image: url('../images/fancy-logo-nobg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 300px;
    /* border: 2px solid; */
    object-position: center;
    background-position: center;
    object-fit: cover;
    grid-area: --footer-logo;
}

/* .footerLogo img {
    background-color: red;
    width: 300px;
    height: 300px;
    object-fit: cover;
    mix-blend-mode:multiply;
    border-radius: 300px;
} */

.socail-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 100vw; */
    height: 100px;
    /* background-color: yellow; */
}

.footer-link {
    color: var(--primary-white);
}

.footer-link:hover {
    color: var(--primary-red);
}

.footer-link i {
    font-size: 2rem;
}

.footer-call-email {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 2rem;
    gap: 10px;
    grid-area: --call-mail;
}

.footer-call-email a {
    color: var(--primary-white);
    display: inline-block;

}

.footer-call-email i {
    /* padding-inline-end: 1rem; */
}

.copyright {
    /* padding-top: 5em; */
    text-align: center;
}

.links{
    width: 100%;
    /* border: 2px solid red ; */
    grid-area: --quick-links;
    /* width: 300px; */
    /* text-align: left; */
    /* height: 100%; */
}
.partners{
    /* border: solid red 3px; */
    grid-area: --partners;
    width: 100%;
    margin-bottom: 30px;
}
.real-copyright{
    /* border: solid red 3px; */
    grid-area: --copyright;
    margin-top: 2em;
    /* margin-bottom: 2em; */
    height: 10vh;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: hsl(213, 92%, 40%);
    padding: 0;
    display: grid;
    place-content: center;
}
.quicklinks-ancor {
    color: var(--primary-white);

}




.page-heading h2 {
    padding: .3em 0em 1rem 0rem;
}

.undeline {
    /* margin:2em 0em; */
    width: 70%;
    height: 3px;
    background-color: var(--secondary-red);
    margin: .6rem 0 1rem 0;
}

.quicklinks ul {
    list-style-type: none;
    /* margin: 20px; */
    margin-bottom: 10px;

}


/* ##    ANIMATIONS  ##*/
/* ============================ */
@keyframes line-up {
    0% {
        border-bottom: 1.3px groove var(--primary-white);

    }

    50% {
        border-bottom: 3px groove var(--primary-white);
    }

    100% {
        border-bottom: 1.3px solid var(--primary-white);
    }

}

@keyframes reveal {
    0% {
        top: 100px;
    }

    30% {
        top: 200px;
    }

    100% {
        top: 180px;
    }


}

@keyframes changePicture {
    0% {
        background-image: url('../images//IMG-20250506-WA0047.jpg');
    }

    10% {
        background-image: url('../images//IMG-20250506-WA0047.jpg');
    }

    20% {
        background-image: url('../images//IMG-20250506-WA0048.jpg');
    }

    30% {
        background-image: url('../images/IMG-20250506-WA0074.jpg');
    }

    40% {
        background-image: url('../images//IMG-20250506-WA0050.jpg');
    }

    50% {
        background-image: url('../images//IMG-20250506-WA0051.jpg');
    }

    70% {
        background-image: url('../images//IMG-20250506-WA0052.jpg');
    }

    80% {
        background-image: url('../images//IMG-20250506-WA0053.jpg');
    }

    90% {
        background-image: url('../images//IMG-20250506-WA0054.jpg');
    }

    100% {
        background-image: url('../images//IMG-20250506-WA0055.jpg');
    }
}

/*  ### BREAK POINTS */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width:500px) {
    .keyvalues-container {
        flex-flow: row wrap;
    }
}

@media screen and (min-width: 768px) {

    .intro h1 {
        font-size: 2.1em;

    }

    .moto {
        font-size: 2em;
        text-shadow: 0px 0px 2px var(--primary-white);
    }

    .desktop-only {
        display: block;
    }

    .tel-only {
        display: none;
    }

    .nav-links {
        font-size: 1.4rem;
        font-weight: 550;
        color: #333;
        background-color: inherit;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .nav-links li {
        display: block;
        transition: border-bottom .3s ease-in;
    }

    .nav-links li a {
        color: #333;

    }

    .nav-links li:hover {
        border-bottom: 2px solid;
    }

    .quick-abt p {
        padding: 0em 2em 1.3em 2em;
    }

    .admintion-info {
        flex-direction: row;
    }

    .admition-info-contents {
        width: 500px;
    }

    /* border: solid lime 4px; */
    .admition-info-contents div {
        width: 100%;
        display: flex;
        /* border: solid lime 4px; */
    }

    .register-Or-Contact button {
        padding: 1rem 2rem;
        font-size: 1.2em;
    }

    .footer-main {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 2vw;
    padding: 2em 2em 4em 2em;
}
 .footer-main > * {
    width: 28vw;
    
 }
 .footer-call-email{
    justify-content: flex-start;
    align-items: flex-start;
    /* width: 100%; */
 }
 .footer-call{
    text-align: left;
 }
 .real-copyright{
    width: 100vw;
    text-align: center;
    display: grid;
    place-items: center;
 }



}

@media screen and (min-width:1024px) {


    /* .footer-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        max-height: 100vh;
    } */

    .copyright {
        padding-top: 0em;
        text-align: center;

    }

    ul li {
        list-style-type: none;
    }
}