@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
   --primary-white:hsl(0, 20%, 100%);
   --primary-blue:hsl(201, 100%, 14%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display :block;  /*some code to make images display asblock instead of inline ...*/ 
}
input,button,textarea,label{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
html{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 100vw;
    overflow-x: hidden;
    color: #fff;
    /* background-color: #666; */
}
body{
    font-size: 1.2em;
    background-color: var(--primary-white);
}
.Header_welcome_message{
    background-color: hsla(201, 100%, 14%, 1);
    height:100px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.Header_welcome_message a{
    color:#fff
}
.Header_main{
    height: 100px;
    border: 2px solid #333;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    font-size: 2em;
    background-color: transparent;
    cursor: pointer;

}
.nav{
    display: flex;
    position: relative;
    background-color: var(--primary-white);
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    /* padding-bottom: 60px; */

}
.nav-links{
    padding: 0;
    font-size: 1.2rem;
    background-color: var(--primary-blue);
    position: fixed;
    top: 180px;
    left: 0%;
    right: 0px;
    /* width: 300px; */
    padding-left: 10px;
}
.nav-links li{
    list-style: none;
    border-bottom: 1.3px solid var(--primary-white);
    text-align: justify;
    display: none;
    padding: 5px ;


}
.nav-links li a{
    color: var(--primary-white);
    text-decoration: none;
    text-align: left;
    display: block;

}
.nav:hover .nav-links li, 
.nav:focus-within .nav-links li
{
    display: block;
}
.desktop-only{
    display: none;
}